In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [2]:
municipalities = pd.read_csv("./data/kunnat/kunta4500k.csv")
aid25 = pd.read_csv("./data/data_2025.csv")

In [6]:
aid25.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139460 entries, 0 to 139459
Data columns (total 15 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   aikatyyppi             139460 non-null  object
 1   kuukausi_nro           139460 non-null  int64
 2   vuosikuukausi          139460 non-null  int64
 3   vuosi                  139460 non-null  int64
 4   kunta_nro              139460 non-null  int64
 5   kunta_nimi             139460 non-null  object
 6   ikaryhma               139460 non-null  object
 7   sukupuoli              139460 non-null  object
 8   etuus                  139460 non-null  object
 9   oppilaitos_peruste     139460 non-null  object
 10  oppilaitosaste         139460 non-null  object
 11  saaja_lkm              139460 non-null  int64
 12  saaja_laskenta_lkm     139460 non-null  int64
 13  maksettu_eur           139460 non-null  float64
 14  maksettu_laskenta_eur  139460 non-null  float64
dtypes: float64(2), int64(6), object(7)
memory usage: 16.0+ MB

In [14]:
# aid25_by_municipality = aid25.groupby("kunta_nro")
# aid25_by_municipality.count().head()

receivers_by_municipality = aid25.value_counts("kunta_nro")
receivers_by_municipality.info()

<class 'pandas.core.series.Series'>
Index: 295 entries, 91 to 435
Series name: count
Non-Null Count  Dtype
--------------  -----
295 non-null    int64
dtypes: int64(1)
memory usage: 4.6 KB

In [22]:
municipalities_with_count = municipalities.set_index("kunta").join(receivers_by_municipality).sort_values("count", ascending=False)
municipalities_with_count.head()

,FID,vuosi,nimi,namn,name,geom,count
kunta,,,,,,,
91,kunta4500k.33,2025,Helsinki,Helsingfors,Helsinki,POLYGON ((402737.69091809395 6680700.308698478...,1921.0
837,kunta4500k.268,2025,Tampere,Tammerfors,Tampere,POLYGON ((346626.25600018946 6854536.217996115...,1670.0
49,kunta4500k.12,2025,Espoo,Esbo,Espoo,"POLYGON ((375773.697999968 6691596.516999634, ...",1614.0
92,kunta4500k.34,2025,Vantaa,Vanda,Vantaa,"POLYGON ((392811.8019999773 6694857.167000004,...",1588.0
853,kunta4500k.276,2025,Turku,Åbo,Turku,POLYGON ((251038.06801801227 6731421.608847396...,1576.0

In [ ]:
# Map

fig = px.choropleth_map(df, geojson=geom, locations='fips', color='unemp',
                           color_continuous_scale="Viridis",
                           range_color=(0, 12),
                           map_style="carto-positron",
                           zoom=3, center = {"lat": 37.0902, "lon": -95.7129},
                           opacity=0.5,
                           labels={'unemp':'unemployment rate'}
                          )

fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()